@charset "UTF-8";
html,body{
  height: 100%;
}
body{
  background: #f9f8f9 url("../img/bg.png") repeat center center;
}
[v-cloak] {
  display: none;
}
/*头部组件*/
#header{
  background: #1E90FF;
  -webkit-box-shadow: 0px 1px 3px #164993;
  -moz-box-shadow: 0px 1px 3px #164993;
  box-shadow: 0px 1px 3px #164993;
  color: #fff;
  font-size: 24px;
  text-align: center;

  &.alert{
    background: #ffae1b;
    -webkit-box-shadow: 0px 1px 3px #ab7400;
    -moz-box-shadow: 0px 1px 3px #ab7400;
    box-shadow: 0px 1px 3px #ab7400;
    transition: all .2s;

    i.alert-clock{
      animation: alert 2s;
      -webkit-animation: alert 2s;
      -moz-animation: alert 2s;
      -ms-animation: alert 2s;
    }
  }
  i.alert-clock{
    background: transparent url("../img/logo_clock.png") no-repeat center center;
    background-size: 80% 80%;
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    width: 60px;
  }
  span{
    vertical-align: middle;
  }
}
@-webkit-keyframes alert {
  0% { transform: rotate(-30deg);  }
  10% { transform: rotate(30deg);  }
  20% { transform: rotate(-15deg);  }
  30% { transform: rotate(15deg);  }
  40% { transform: rotate(-30deg);  }
  50% { transform: rotate(30deg);  }
  60% { transform: rotate(-15deg);  }
  70% { transform: rotate(15deg);  }
  80% { transform: rotate(-5deg);  }
  90% { transform: rotate(5deg);  }
  100% {  }
}
@-moz-keyframes alert {
  0% { transform: rotate(-30deg);  }
  10% { transform: rotate(30deg);  }
  20% { transform: rotate(-15deg);  }
  30% { transform: rotate(15deg);  }
  40% { transform: rotate(-30deg);  }
  50% { transform: rotate(30deg);  }
  60% { transform: rotate(-15deg);  }
  70% { transform: rotate(15deg);  }
  80% { transform: rotate(-5deg);  }
  90% { transform: rotate(5deg);  }
  100% {  }
}
@keyframes alert {
  0% { transform: rotate(-30deg);  }
  10% { transform: rotate(30deg);  }
  20% { transform: rotate(-15deg);  }
  30% { transform: rotate(15deg);  }
  40% { transform: rotate(-30deg);  }
  50% { transform: rotate(30deg);  }
  60% { transform: rotate(-15deg);  }
  70% { transform: rotate(15deg);  }
  80% { transform: rotate(-5deg);  }
  90% { transform: rotate(5deg);  }
  100% {  }
}
/*主体*/
#todolist{
  background: rgba(255,255,255,0.8);
  overflow: hidden;
  margin: 50px auto;
  padding: 0 100px;
  width: 600px;
}
/*新增组件*/
.add-wrapper{
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 3px #cfcfcf;
  -moz-box-shadow: 0 1px 3px #cfcfcf;
  box-shadow: 0 1px 3px #cfcfcf;
  margin-top: 50px;
}
/*add输入框*/
.base-add-wrapper{
  background: #edeced;
  height: 40px;
  padding-right: 40px;
  position: relative;

  input{
    background: transparent;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 5px 10px;
    width: 100%;
    &.focus{
      background: #fff;
      transition: all .2s;
    }
  }

  button{
    position: absolute;
    top: 0;
    height: 40px;
    width: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    color: #666;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    text-align: center;
    &:hover{
      background-color: #d1d0d1;
      color: #333;
      cursor: pointer;
    }
  }

  .icon.add-btn{
    background-image: url("../img/add.png");
    background-size: 50%;
    right: 0px;
    &:hover{
      background-image: url("../img/add_hover.png");
    }
  }
}
/*添加详情功能*/
.more-add-wrapper{
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 0 10px;

  textarea{
    background: #edeced;
    border: none;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0 0;
    padding: 8px 10px;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
    &.focus{
      background: #fbfbfb;
      -webkit-box-shadow: 1px 1px 5px #aaa;
      -moz-box-shadow:  1px 1px 5px #aaa;
      box-shadow:  1px 1px 5px #aaa;
      transition: all .2s;
    }
  }
  h4{
    line-height: 36px;
  }
  input{
    background: #edeced;
    border: none;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 36px;
    padding: 8px 10px;
    width: 100%;
  }
  .button-wrap{
    font-size: 0;
    margin: 10px 0;
  }
  button{
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    width: 49%;
    &.complete{
      background: #1E90FF;
      color: #fff;
      margin-right: 1%;
      &:hover{
        -webkit-box-shadow: 1px 1px 5px #0f2c59;
        -moz-box-shadow: 1px 1px 5px #0f2c59;
        box-shadow: 1px 1px 5px #0f2c59;
        transition: all .2s;
      }
    }
    &.cancel{
      background: #d1eeff;
      color: #333;
      margin-left: 1%;
      &:hover{
        -webkit-box-shadow: 1px 1px 5px #7d93a4;
        -moz-box-shadow: 1px 1px 5px #7d93a4;
        box-shadow: 1px 1px 5px #7d93a4;
        transition: all .2s;
      }
    }
  }
}

/*列表组件 - 共用*/
.done-list-wrapper,.todo-list-wrapper,.del-list-wrapper{
  ul{
    li{
      background: #fafafa;
      border-bottom: 1px solid #ddd;
      overflow: hidden;
      &:hover{
        background: #fff;
        div.detail-info{
          background: #fafafa;
          transition: all .1s;
        }
        transition: all .1s;
      }
      &:last-child{
        border: none;
      }
      /*基本信息*/
      div.base-info{
        line-height: 40px;
        position: relative;
        /*标题*/
        .item-title{
          box-sizing: border-box;
          cursor: default;
          display: block;
          font-size: 14px;
          height: 40px;
          line-height: 30px;
          padding: 5px 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
        /*按钮*/
        button{
          position: absolute;
          top: 0;
          height: 40px;
          width: 40px;
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50%;
          border: none;
          color: #666;
          cursor: pointer;
          font-size: 20px;
          font-weight: 600;
          text-align: center;
          /*勾选按钮*/
          &.done-btn{
            font-size: 0;
            margin-left: 10px;
            left: 0;
            &:after{
              content: '';
              display: inline-block;
              height: 100%;
              width: 0;
              vertical-align: middle;
            }
            i{
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 80%;
              border-radius: 50%;
              display: inline-block;
              vertical-align: middle;
              height: 60%;
              width: 60%;
            }
          }
          /*更多按钮*/
          &.more-btn{
            background-image: url("../img/more.png");
            background-size: 60%;
            &:hover{
              background-image: url("../img/more_hover.png");
            }
          }
          /*删除按钮*/
          &.del-btn{
            background-image: url("../img/empty.png");
            &:hover{
              background-image: url("../img/empty_hover.png");
            }
          }
        }

      }
      /*更多信息*/
      div.detail-info{
        background: #ffffff;
        border: 1px dashed #ddd;
        margin: 0 10px 10px;
        time{
          color: #aaa;
          display: block;
          font-size: 12px;
          height: 30px;
          line-height: 30px;
          i.time{
            background: transparent url("../img/time.png") no-repeat center center;
            background-size: 90% 90%;
            display: inline-block;
            vertical-align: middle;
            margin: 0 6px;
            height: 20px;
            width: 20px;
          }
          &.expired i.time{
            background-image: url("../img/time_expire.png");
          }
          &.alert i.time{
            background-image: url("../img/time_alert.png");
          }
          span{
            vertical-align: middle;
          }
          &.expired span{
            color: #dd422d;
          }
          &.alert span{
            color: #1296db;
          }

        }
        p{
          padding: 5px 10px 10px;
        }
      }
    }
  }
}
/*未完成列表组件*/
.todo-list-wrapper{
  margin: 30px 0 50px;
  ul{
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 0 6px #cfcfcf;
    -moz-box-shadow: 0 0 6px #cfcfcf;
    box-shadow: 0 0 6px #cfcfcf;
    li{
      /*基本信息*/
      div.base-info{
        padding: 0 120px 0 50px;
        span.item-title{}
        button{
          /*勾选按钮*/
          &.done-btn{
            font-size: 0;
            margin-left: 10px;
            left: 0;
            i{
              background-color: #fff;
              background-image: url("../img/right_black.png");
              border: 1px solid #aaa;
            }
            &:hover i{
              background-color: #0785ff;
              background-image: url("../img/right_white.png");
              border-color: #0785ff;
            }
          }
          /*更多按钮*/
          &.more-btn{
            right: 80px;
          }
          /*编辑按钮*/
          &.edit-btn{
            background-image: url("../img/brush.png");
            right: 40px;
            &:hover{
              background-image: url("../img/brush_hover.png");
            }
          }
          /*删除按钮*/
          &.del-btn{
            right: 0px;
          }
        }
      }
      /*更多信息*/
      div.detail-info{
        time{
          i.time{}
          &.expired i.time{}
          &.alert i.time{}
          span{}
          &.expired span{}
          &.alert span{}
        }
        p{}
      }
    }
  }
}
/*已完成列表*/
.done-list-wrapper{
  margin-bottom: 50px;
  header{
    color: #666;
    line-height: 40px;
  }
  ul{
    border: 1px solid #cecece;
    -webkit-box-shadow: 0 0 6px #DEDEDE;
    -moz-box-shadow: 0 0 6px #DEDEDE;
    box-shadow: 0 0 6px #DEDEDE;
    li{
      /*基本信息*/
      div.base-info{
        padding: 0 80px 0 50px;
        del.item-title{
          color: #8a8a8a;
        }
        button{
          /*勾选按钮*/
          &.done-btn{
            i{
              background-color: #a4a4a4;
              background-image: url("../img/right_white.png");
              border: 1px solid #676767;
            }
            &:hover i{
              background-color: #dedede;
              background-image: url("../img/right_black.png");
            }
          }
          /*更多按钮*/
          &.more-btn{
            right: 40px;
          }
          /*删除按钮*/
          &.del-btn{
            right: 0px;
          }
        }
      }
      /*更多信息*/
      div.detail-info{
        time{
          i.time{}
          &.expired i.time{}
          &.alert i.time{}
          span{}
          &.expired span{}
          &.alert span{}
        }
        p{}
      }
    }
  }
}
/*已删除列表*/
.del-list-wrapper{
  margin-bottom: 50px;
  header{
    color: #666;
    line-height: 40px;
  }
  ul{
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 0 6px #cfcfcf;
    -moz-box-shadow: 0 0 6px #cfcfcf;
    box-shadow: 0 0 6px #cfcfcf;
    li{
      div.base-info{
        padding: 0 80px 0 50px;
        del.item-title{
          color: #8a8a8a;
        }
        button{
          /*撤回按钮*/
          &.done-btn{
            i{
              background-color: #585858;
              background-image: url("../img/undo.png");
              border: 1px solid #676767;
            }
            &:hover i{
              background-color: #dedede;
              background-image: url("../img/undo_hover.png");
            }
          }
          /*更多按钮*/
          &.more-btn{
            right: 40px;
          }
          /*删除按钮*/
          &.undo-btn{
            background-image: url("../img/delete.png");
            right: 0;
            &:hover{
              background-image: url("../img/delete_fill.png");
            }
          }
        }
      }
    }
  }
}
/*垃圾桶组件*/
.rubbish-wrapper{
  position: fixed;
  bottom: 30px;
  right: 30px;
  i.rubbish-btn{
    background: transparent url("../img/trash.png") no-repeat center center;
    background-size: cover;
    display: block;
    position: relative;
    height: 50px;
    width: 40px;
    &.fill{
      background-image: url("../img/trash_fill.png");
    }
    &:hover{
      background-image: url("../img/trash_hover.png");
      cursor: pointer;
      transition: all .2s;
    }
    span{
      background: #ff5989;
      border-radius: 50%;
      color: #fff;
      font-style: normal;
      font-size: 12px;
      line-height: 20px;
      height: 20px;
      width: 20px;
      position: absolute;
      top: -15px;
      right: -15px;
      text-align: center;
    }
  }
}